<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form id="costomerTransmitter">
      <input
        class="costomerTransmitter__name"
        type="text"
        placeholder="Type product name"
        required
      />
      <input
        class="costomerTransmitter__price"
        type="text"
        placeholder="Type product price"
        required
      />
      <button>발신하기</button>
    </form>
    <script src="../public/js/app.js"></script>
  </body>
</html>
