<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Euterpe transmitter</title>
  </head>
  <body>
    <a href="/customer">
      <div class="customerSide">Customer Side</div>
    </a>
    <a href="/showcard">
      <div class="showcardSide">Showcard Side</div>
    </a>
    <script src="../public/js/app.js"></script>
  </body>
</html>
